/* ===========================================================
	CUSTOM
============================================================== */

/* Font */
body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Open Sans", sans-serif;
}


/* Custom Heading Margin */
.post-content h2,.post-content h2 a { margin-top: 3.375rem;   }
.post-content h3,.post-content h3 a { margin-top: 2.53125rem; }
.post-content h4,.post-content h4 a { margin-top: 1.6875rem;  }


/* Custom Chapter Heading */
.post-content h2 {
	margin: 80px 0;
	text-align: center;
  }
	.post-content h2::after {
		border-bottom: 4px solid #e1e1e1;
		content: " ";
		display: block;
		margin: auto;
		padding: 20px 0;
		text-align: center;
		width: 80px;
	  }

  /* Style fix */
.jumbotron h2 {
  margin-bottom: 10px !important;
  }
	.jumbotron h2::after {
	  content: none;
	  }




/* !!!IMPORTANT!!!
   Header style fix after customisation
--------------------------------------- */
.popover-title,
.modal-title,
.list-group-item-heading,
.panel-title,
.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6 { margin-top: inherit !important; }




/* Custom List Style */
.post-content ul { list-style: none; }
.post-content ul li:before {
	font-family: 'FontAwesome';
	content:"\f068";
	margin-left: -12px;
	position: absolute;
	font-size: 0.4rem;
	color: #339933;
  }

	/* Style fix */
	.nav li::before,
	.dropdown-menu li::before,
	.site-footer li::before,
	.list-group-item::before,
	.breadcrumb li::before,
	.pagination li::before,
	.pager li::before { content: none !important; }

	.breadcrumb > li + li::before {
	  color: #ccc !important;
	  content: "/ " !important;
	  font-size: 1rem !important;
	  margin-left: 0;
	  position: relative;
	}




/* Centering jumbotron text */
@media (min-width: 768px) {
	.jumbotron {
		display: table;
		width: 100%;
		height: 550px;
		padding: 40px 0;
	}

	.jumbotron .container {
		display: table-cell;
		vertical-align: middle;
	}
}




/* Subscribe
.site-footer .subscribe {
  margin: -60px 0 0;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  }
	.site-footer .subscribe a {
		background: #fff;
	  border: 1px solid #888;
	  border-radius: 3px;
	  color: #888;
	  display: inline-block;
	  font-size: 11px;
	  line-height: 16px;
	  padding: 2px 6px;
	  }
	  .site-footer .subscribe a:hover {
	    opacity: 0.6;
	    }
*/


/* Narrow Post Layout
.post-layout .post-content {
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
}
*/


/*
#gnb.navbar-default {
	height: 70px;
	padding: 10px 0;
}

#gnb.navbar-default.affix {
	height: 50px;
	padding: 0px 0;
}
*/



